<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="container p-3">
      <ul>
        <li>
          <a href="/profile">Get Profile Information</a>
        </li>
        <li>
          <a href="/getGlobalAchievementPercentagesForApp">
            Get global achievements of a game in percentages
          </a>
        </li>
        <li>
          <a href="/getNewsForApp">Get the latest news of a game</a>
        </li>
        <li>
          <a href="/getOwnedGames">Get a list of owned games by a user</a>
        </li>
        <li>
          <a href="/getPlayerBans"> Get BAN information of user </a>
        </li>
        <li>
          <a href="/getRecentlyPlayedGames">
            Get a list of recently played games by a user
          </a>
        </li>
        <li>
          <a href="/getSchemaForGame">Get information of a game</a>
        </li>
        <li>
          <a href="/getUserStatsForGame">
            Get achievements of a user in a game
          </a>
        </li>
        <li>
          <a href="/getUserWishlist"> Get wishlist of a user</a>
        </li>
        <li>
          <a href="/getFriendList"> Get a list of friends of a user</a>
        </li>
      </ul>
    </div>
  </body>
</html>
